body {
    background-color: #1e1e1e; /* Dark background color */
    color: white; /* White text color */
    font-family: Arial, sans-serif; /* Font family */
    
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}
.newHeader{

}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding-top: 100px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    text-decoration: none;
    padding-right: 0px;
  }
  .nav-items {
    padding-right: 300px;
    text-decoration: none;
    color: black ;
    }
    .logo-container {
        display: flex;
        align-items: center;
        padding-left: 300px;
        text-decoration: none;
      }
.content {
    flex-grow: 1; /* Take remaining vertical space */
    text-align: left;
    padding: 20px 0;
}

.title {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 80px;
    z-index: 20;
}

.title h1{
    font-size: 52pt; text-shadow: 6px 6px #00000077;
    margin-top: 3px;
    margin-bottom: 3px;
}

.title h3{
    text-shadow: 3px 3px #07070777;
}
.container {
    
    
    padding-left: 300px;
    padding-right: 300px;
    
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
  }
  
  header.scrolled {
    background-color: rgb(216, 208, 208);
    color: #1e1e1e;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding-left: 300px;
  }
  
  .logo {
    max-height: 50px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin for separation */
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .text {
    font-size: 18px;
    margin: 0;
    color: white;
    transition: color 0.3s; /* Smooth transition for the text color property */
  }
  
  header.scrolled .text {
    color: black; /* Change the text color when scrolling */
  }
  
  .text.bold {
    font-weight: bolder;
    font-size: small;
  }
  
  .banner {
    height: 720px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding-top: 100px; /* Adjust the padding as needed */
    min-width: 100%;
  }
  
  .img{
    content: "";
    position: absolute;
     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(3, 2, 13, 0.934);
  }
  
  
  .introduction-heading {
  padding-top: 130px;
  padding-bottom: 0px;
  }
  
  
  
  /* Style your navigation menu as needed */
  nav {
    display: flex;
    background-color: transparent;
  }
  
  
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s; /* Smooth transition for the text color property */
  }
  nav a :hover{
  color: #88afe0;
  }
  

  /* Responsive Nav */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding-left: 20px; /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
  }
  
  
  
  .icon-square {
    background-color: #444;
  }
  .icon-square{
    margin: 2px 2px 2px 0;
    display: inline-block !important;
    text-align: center !important;
    color: #fff;
    width: 25px;
    height: 25px;
  padding:3px;
    line-height: 18px;
    text-shadow:none;
    cursor: pointer;
    
  }
  
  .text-center {
    text-align: center;
    margin-left: 200px ;
  }
  .text-right {
    text-align: justify;
    margin-left: 200px ;
  }
  
  @media screen and (max-width: 2000px) {
    
    .logo-container {
      padding-left: 200px;
      padding-right: 200px;
    }
    .nav-items {
      padding-right: 300px;
    }
    .textBanner {
      padding-left: 250px;
    }
    .textBannerSecondLine {
      padding-left: 250px;
    }
  }
  
  @media screen and (max-width: 1080px) {
    .logo-container {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-top: 20px;
      justify-content: center;
    }
    .nav-items {
      margin: auto;
      width: fit-content;
      justify-content: center;
      padding-left: 100px;
      padding-right: 50px;
    }
    .textBanner {
      padding-left: 150px;
    }
    .textBannerSecondLine {
      padding-left: 150px;
    }
    header {
      display: inline;
      
    }
  
    .col{
      margin-left: 0px;
      width: 100%;
    }
  }
  @media screen and (max-width: 1500px){
.title{
    margin-right: 200px;
    margin-left: 200px;
}
.title h1{
    font-size: 42pt;
}
.nav-items{
  padding-right: 150px;
}
.logo-container{
  padding-left: 150px;
}
  }
  @media screen and (max-width: 1190px){
    .title{
        margin-right: 200px;
        margin-left: 200px;
    }
    .title h1{
        font-size: 38pt;
    }
    @media screen and (max-width: 1114px){
        .title{
            margin-right: 100px;
            margin-left: 100px;
        }
        .title h1{
            font-size: 34pt;
        }
      }
      
    @media screen and (max-width: 860px){
        .title{
            margin-right: 100px;
            margin-left: 100px;
        }
        .title h1{
            font-size: 32pt;
        }
      }
      @media screen and (max-width: 780px){
        .title{
            margin-right: 100px;
            margin-left: 100px;
        }
        .title h1{
            font-size: 30pt;
        }
      }
      @media screen and (max-width: 700px){
        .title{
            margin-right: 20px;
            margin-left: 20px;
        }
        .title h1{
            font-size: 30pt;
        }
      }
@media screen and (max-width: 500px) {
    .title{
        margin-left: 15px;
        margin-right: 15px;
    }
    .title h1{
        font-size: 20pt;
    }
    
    .title h3{
        font-size: 9pt;
    }
}

.title h1{
    margin-top: 2px;
    margin-bottom: 2px;
}
  }
  
  @media screen and (max-width: 680px) {
    
    .logo-container {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-top: 20px;
      justify-content: center;
    }
    .nav-items {
      margin: auto;
      width: fit-content;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
    }
    .textBanner {
      padding-left: 30px;
    }
    .textBannerSecondLine {
      padding-left: 30px;
    }
    header {
      display: inline;
      
    }
    
    
  }
  
  
  @media screen and (max-height: 680px) {
  .carousel-container{
    height: 430px;
  }
  .banner{
    height: 430px;
  }
  }
  @media screen and (max-height: 1080px) {
  .carousel-container{
    height: 430px;
  }
  .banner{
    height: 430px;
  }
}
  
  footer {
  background: linear-gradient(135deg, #1f1f1f, #202020);
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Align items to the start of the flex container */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  z-index: 1;
  }
  #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -100; /* Ensure particles are behind other footer content */
  }
  .particles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -100; /* Ensure particles are behind other footer content */
  }
  /* Position and style the particles container */
  
  
  .footer-content {
  flex: 1;
  margin: 10px;
  text-align: center;
  }
  
  .social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin: 0 15px;
  transition: transform 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
  transform: scale(1.05);
  }
  
  .page-links {
  list-style: none;
  padding: 0;
  height: 144px;
  }
  
  .page-links li {
  margin-bottom: px;
  }
  
  .page-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  }
  
  
  
  .company-address {
  margin-top: 20px;
  font-size: 16px;
  }
  
  .section-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  
  .copyright-container {
  width: 100%; /* Take full width */
  text-align: center; /* Center the text */
  margin-top: 80px;
  }
  
  .copyright-text {
  font-size: 12px;
  color: #888;
  }
  
  body {
    font-family: 'Roboto';
    }

.introduction-heading {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Roboto';
    color: #eef5fc;
}

.services-header {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 25px;
    font-family: 'Roboto';
    color: white;
}

/* .services-bg-gradient-overlay {
    background: rgb(49, 55, 60);
} */
/* .services-bg-gradient-overlay {
    background: rgb(86, 93, 100);
    background: linear-gradient(0deg, rgba(77, 83, 91, 0.2) 0%, rgba(116,125,135,1) 70%);
} */
.services-bg-gradient-overlay {
   background-color: grey transparent;

}


.services-card-left {
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    min-height: 250px;
    color: black;
    }

    .gradient-overlay-left {
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,90%) 60%), rgba(255,255,255,50%);
        border-radius: 10px;
        min-height: 250px;
    }

.services-card-right {
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    text-align: right;
    min-height: 250px;
    color: black;
    }

    .gradient-overlay-right {
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,90%) 60%), rgba(255,255,255,50%);
        border-radius: 10px;
        min-height: 250px;
    }

.services-card-header-left {
    margin-left: 25px;
    color: #0262C4;
    padding-top: 25px;
    font-size: 24px;
}

.services-card-header-right {
    margin-right: 25px;
    color: #0262C4;
    padding-top: 25px;
    font-size: 24px;
}

.services-card-content-left {
    margin-left: 25px;
    margin-right: 40%;
    padding-bottom: 25px;
    font-size: 16px;
}

.services-card-content-right {
    margin-left: 40%;
    margin-right: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
    vertical-align: bottom;

}
a:hover{
    color: #88afe0;
}
.content {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0px;
    padding-bottom: 200px;
}
#intro{
    scroll-margin-top: 80px;
}
#services{
    scroll-margin-top: 80px;
}

@media screen and (max-width: 1420px) {
    .introduction-heading {
        margin-left: 200px;
        margin-right: 200px;
    }
    .content {
        margin-left: 200px;
        margin-right: 200px;
    }

    .services-card-right {
        margin-left: 200px;
        margin-right: 200px;
    }
    .services-card-left {
        margin-left: 200px;
        margin-right: 200px;
    }
    .services-header {
        padding-left: 200px;
        padding-right: 200px;
    }
    #intro{
        scroll-margin-top: 95px;
            }
            #services{
                scroll-margin-top: 80px;
            }
           
}

@media screen and (max-width: 1080px) {
    .introduction-heading {
        margin-left: 100px;
        margin-right: 100px;
    }
    .services-card-right {
        margin-left: 100px;
        margin-right: 100px;
    }
    .services-card-left {
        margin-left: 100px;
        margin-right: 100px;
    }
    .services-header {
        padding-left: 100px;
        padding-right: 100px;
    }
    .content {
        margin-left: 100px;
        margin-right: 100px;
      }
}

@media screen and (max-width: 680px) {
    .introduction-heading {
        margin-left: 20px;
        margin-right: 20px;
    }
    .services-card-right {
        margin-left: 20px;
        margin-right: 20px;
    }
    .services-card-left {
        margin-left: 20px;
        margin-right: 20px;
    }
    .services-header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .content {
        margin-left: 20px;
        margin-right: 20px;
      }
}

.services-card-left,
.services-card-right {
    /* ... existing styles ... */
    transition: transform 0.3s ease-in-out;
}

.services-card-left:hover,
.services-card-right:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-form {
    padding: 150px; /* Adjust padding for smaller screens */
    background-color: rgb(37, 36, 36);
    background-image: url(testBackG.png); 
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    
}

.container {
    background-color: black;
    border-radius: 20px;
    background: linear-gradient(135deg, #1f1f1f, #202020);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}

.col-lg-8 {
    padding: 0px;
}

.col-lg-8 > div {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px; /* Add margin between form elements */

}

.col-lg-4 {
    padding: 20px;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: space-around;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Make inputs and textarea full width */
    margin-bottom: 10px; /* Add margin between inputs */
    background-color: rgb(216, 208, 208);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

textarea {
    height: 150px; /* Set height for textarea */
    resize: none;
}

button[type="button"] {
    border-radius: 10px;
    border: none;
    background-color: #2f5b82;
    color: white;
    padding: 10px 20px; /* Adjust padding for smaller screens */
}
.success-message {
    color: green;
    text-align: center;
    display: none;
  }
@media screen and (max-width: 1080px) {
    .contact-form {
        padding: 20px;
        padding-top: 200px;
    }
    .contact-form {
        padding-top: 200px;
        height: 729px;
    }
    .container{
        padding: 0px;
    }
    #intro{
scroll-margin-top: 150px;
    }
    #services{
        scroll-margin-top: 155px;
    }
}
@media screen and (max-width: 991px) {
    .contact-form {
        padding: 20px;
        padding-top: 200px;
    }
    .contact-form {
        padding-top: 200px;
        height: 1000px;
    }
    .container{
        padding: 0px;
    }
    #intro{
        scroll-margin-top: 140px;
            }
            #services{
                scroll-margin-top: 155px;
            }
}
/* Adjustments for smaller screen sizes */
@media screen and (max-width: 768px) {
    .contact-form {
        padding: 20px;
        padding-top: 200px;
    }
    .container {
        padding: 10px;
    }
    .col-lg-8 > div {
        margin-bottom: 10px;
    }
    input[type="text"],
    textarea {
        padding: 8px;
    }
    button[type="button"] {
        padding: 8px 16px;
    }
    .contact-form {
        padding-top: 200px;
        height: 1000px;
    }
    .container{
        padding: 0px;
    }
    #intro{
        scroll-margin-top: 140px;
            }
    
    #services{
                scroll-margin-top: 155px;
            }
}

/* Adjustments for even smaller screen sizes */
@media screen and (max-width: 576px) {
    input[type="text"],
    textarea {
        padding: 6px;
    }
    button[type="button"] {
        padding: 6px 12px;
    }
    .contact-form {
        padding-top: 200px;
        height: 1100px;
        
    }
    .container{
        padding: 0px;
       
    }
    #intro{
        scroll-margin-top: 140px;
            }
    #services{
        scroll-margin-top: 155px;
    }
    
}

.custom-alert {
    position: fixed;
    top: 50px; /* Adjust this value to position it properly */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-alert button {
    background-color: #2f5b82;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Disable background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 9998; /* Make sure it's behind the alert but above other content */
    display: none; /* Initially hidden */
}

@media screen and (min-height: 620px) {
  .title {
    padding-top: 300px;
    padding-bottom: 150px;
  }
}
@media screen and (min-height: 860px) {
  .title {
    padding-top: 400px;
    padding-bottom: 250px;
  }
}

/*Bubble Particles Start*/
.particle {
  position: absolute;
  border-radius: 50%;
}

.particle-container {
  padding: 200px;
}
/*Bubble Particles End*/